doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	head
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		title jQuery modal
		style
			include ../../docs/assets/css/main.css
		style
			include ../../docs/assets/css/jquery.psmodal.css
		style
			include ../../docs/assets/css/theme.css
	body
		div(style="text-align: center;")
			h1
				|jQuery modal
			button(role="button" type="button" class="btn1")
				|OPEN
			br
			br
			br
			button(role="button" type="button" class="btn2")
				|OPEN
		script
			include yepnope.js
		script
			include load.js
		