doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	head
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		title jQuery modal
		style
			include ../../docs/assets/css/main.css
		style
			include ../../docs/assets/css/jquery.psmodal.css
		style
			include ../../docs/assets/css/theme.css
	body
		.loader#loader
			.cssload-loader
				.cssload-inner.cssload-one
				.cssload-inner.cssload-two
				.cssload-inner.cssload-three
		#progress
		script
			include window.js
		div(style="text-align: center;")
			h1
				|jQuery modal
			button(role="button" type="button" class="btn1")
				|OPEN
			br
			br
			br
			button(role="button" type="button" class="btn2")
				|OPEN
			br
			br
			br
			img(src="https://komsomol.minobr63.ru/assets/images/scool/news/478/img_0134.jpg" style="max-width: 100%;")
			br
			img(src="https://i.pinimg.com/originals/d0/5b/e1/d05be16718dd01da9acb911e32d4136d.jpg" style="max-width: 100%;")
			br
			img(src="https://hdqwalls.com/download/nebula-space-blue-12k-2v-7680x4320.jpg" style="max-width: 100%;")
			br
			img(src="http://wall-dragon.info/images/700/DSC100700676.jpg" style="max-width: 100%;")
			br
			img(src="http://ultrahdwallpapers.eu/UHD/mosaic_way_backgrounds8K.jpg" style="max-width: 100%;")
			br
			img(src="https://porting-team.ru/wp-content/uploads/2017/11/1086846.jpg" style="max-width: 100%;")
			br
			img(src="http://www.sompaisoscatalans.cat/simage/170/1700603/ultra-hd-wallpapers-8k-7680x4320-nature.jpg" style="max-width: 100%;")
			br
			img(src="https://i.imgur.com/UVSfW43.jpg" style="max-width: 100%;")
			br
			img(src="https://szftlgs.com/wp-content/uploads/data/2018/1/10/k-Wallpapers-x-desktop-wallpapers-high-definition-cool-colourful-background-photos-download-display-picture-x-PIC-WSW3091828.jpg" style="max-width: 100%;")
			br
			img(src="https://wallpaperaccess.com/full/18684.jpg" style="max-width: 100%;")
		script
			include load.js
		