* {
	&,
	&:after,
	&:before {
		box-sizing: border-box;
	}
}
input[type=button],
input[type=submit],
input[type=reset],
input[type=file],
input[type=radio],
input[type=checkbox],
button {
	cursor: pointer;
}
html,
body {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
}